<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="static/css/kickstart.css" media="all" /> <!-- KICKSTART -->
    <meta charset="UTF-8">
    <style type="text/css">

        .output{
            background: url('static/bg.png') repeat;

        }
        p,h1 {

            font-family:"Courier New", serif;
        }
    </style>
    <title>hvítur</title>
</head>
<body>
<a href="https://github.com/efskap/hvitur"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
<div class="grid">
	<div class="col_12" style="margin-top:100px;">
        <h1 class="center">hvítur</h1>
        <p class="center">sets an image's alpha component to be the inverse of its lightness.
<p class="center">the lighter a pixel is, the more transparent it will be.</p>
<form style="padding-bottom:40px;" class="center" action="/do" id="uploadform" method="post" enctype="multipart/form-data">

<button class="large" id="upload-btn" ><i class="fa fa-picture-o"></i> Upload </button>
<div  style='height: 0px;width: 0px; overflow:hidden;' >
        <input class="file" id="chooser" onchange="sub(this);" name="file" type="file" accept="image/*"></div>



</form>
<div class="center" id="result"></div>
	</div>
</div> <!-- End Grid -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
   <script type="text/javascript" src="static/js/hvitur.js"></script>
   <script src="static/js/kickstart.js"></script> <!-- KICKSTART -->

</body>
</html>